apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
      - name: demo-app
        image: 954976326790.dkr.ecr.eu-west-1.amazonaws.com/demo-app:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
